@font-face {
  font-family: 'iconfont';
  src: url("../font/iconfont.eot");
  src: url("../font/iconfont.eot?#iefix") format("embedded-opentype"), url("../font/iconfont.woff") format("woff"), url("../font/iconfont.ttf") format("truetype"), url("../font/iconfont.svg#iconfont") format("svg"); }
.iconfont {
  font-family: "iconfont" !important;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale; }

* {
  margin: 0;
  padding: 0;
  list-style: none; }

html, html body, html body section {
  width: 100%;
  height: 100%; }
  html body, html body section body {
    position: relative;
    padding-bottom: 50px;
    box-sizing: border-box;
    background: #f4f4f4; }
    html body header {
      height: 1.8rem;
      width: 100%;
      position: fixed;
      top: 0;
      z-index: 9999;
      background: #148ad2; }
      html body header i {
        font-style: normal;
        width: 1rem;
        height: 1rem;
        float: left;
        color: #fdfbfc;
        font-size: 1rem;
        margin-left: 0.76rem;
        margin-top: 0.4rem; }
      html body header h5 {
        font-size: 0.72rem;
        color: #fdfbfc;
        position: absolute;
        left: 44%;
        top: 20%; }
    html body section {
      top: 1.8rem;
      position: fixed; }
      html body section ul {
        width: 100%;
        height: 100%;
        margin-top: 0.4rem; }
        html body section ul li:nth-of-type(1) {
          height: 2.16rem;
          width: 100%;
          background: #ffffff; }
          html body section ul li:nth-of-type(1) span {
            font-size: 0.6rem;
            color: #323232;
            margin-left: 1.52rem;
            line-height: 2.16rem; }
          html body section ul li:nth-of-type(1) div {
            width: 1.52rem;
            height: 0.76rem;
            border-radius: 0.4rem;
            background: #148ad2;
            float: right;
            margin-top: 0.68rem;
            margin-right: 0.48rem;
            position: relative; }
            html body section ul li:nth-of-type(1) div p {
              width: 0.76rem;
              height: 0.76rem;
              border-radius: 50%;
              background: #ffffff;
              position: absolute;
              top: 0;
              left: 0; }
        html body section ul li:nth-of-type(2) {
          height: 2.16rem;
          width: 100%;
          background: #ffffff;
          margin-top: 0.1rem; }
          html body section ul li:nth-of-type(2) span {
            font-size: 0.6rem;
            color: #323232;
            margin-left: 1.52rem;
            line-height: 2.16rem; }
          html body section ul li:nth-of-type(2) div {
            width: 1.52rem;
            height: 0.76rem;
            border-radius: 0.4rem;
            background: #148ad2;
            float: right;
            margin-top: 0.68rem;
            margin-right: 0.48rem;
            position: relative; }
            html body section ul li:nth-of-type(2) div p {
              width: 0.76rem;
              height: 0.76rem;
              border-radius: 50%;
              background: #ffffff;
              position: absolute;
              top: 0;
              left: 0; }
        html body section ul li:nth-of-type(3) {
          height: 2.16rem;
          width: 100%;
          background: #ffffff;
          margin-top: 0.4rem;
          position: relative; }
          html body section ul li:nth-of-type(3) span {
            font-size: 0.6rem;
            color: #323232;
            margin-left: 1.52rem;
            line-height: 2.16rem; }
          html body section ul li:nth-of-type(3) input {
            width: 8.28rem;
            height: 0.1rem;
            border-radius: 50%;
            background: lightblue;
            margin-left: 2.2rem; }
          html body section ul li:nth-of-type(3) input[type=range] {
            -webkit-appearance: none;
            border-radius: 10px; }
          html body section ul li:nth-of-type(3) input[type=range]::-webkit-slider-thumb {
            -webkit-appearance: none; }
          html body section ul li:nth-of-type(3) input[type=range]::-webkit-slider-thumb {
            -webkit-appearance: none;
            height: 0.5rem;
            width: 0.5rem;
            background: #148ad2;
            border-radius: 50%;
            border: solid 0.125rem #148ad2;
            box-shadow: 0 .125em .125em #148ad2; }
          html body section ul li:nth-of-type(3) p {
            font-size: 0.44rem;
            color: #138dd0;
            position: absolute; }
          html body section ul li:nth-of-type(3) p:nth-of-type(1) {
            left: 6.2rem;
            top: 1.4rem; }
          html body section ul li:nth-of-type(3) p:nth-of-type(2) {
            left: 14.2rem;
            top: 1.4rem; }
        html body section ul li:nth-of-type(4) {
          height: 2.16rem;
          width: 100%;
          background: #ffffff;
          margin-top: 0.1rem; }
          html body section ul li:nth-of-type(4) span {
            font-size: 0.6rem;
            color: #323232;
            margin-left: 1.52rem;
            line-height: 2.16rem; }
          html body section ul li:nth-of-type(4) div {
            width: 1.52rem;
            height: 0.76rem;
            border-radius: 0.4rem;
            background: #148ad2;
            float: right;
            margin-top: 0.68rem;
            margin-right: 0.48rem;
            position: relative; }
            html body section ul li:nth-of-type(4) div p {
              width: 0.76rem;
              height: 0.76rem;
              border-radius: 50%;
              background: #ffffff;
              position: absolute;
              top: 0;
              left: 0; }
          html body section ul li:nth-of-type(4) input {
            width: 6.08rem;
            height: 0.1rem;
            border-radius: 50%;
            background: lightblue;
            margin-left: 2.2rem; }
          html body section ul li:nth-of-type(4) input[type=range] {
            -webkit-appearance: none;
            border-radius: 10px; }
          html body section ul li:nth-of-type(4) input[type=range]::-webkit-slider-thumb {
            -webkit-appearance: none; }
          html body section ul li:nth-of-type(4) input[type=range]::-webkit-slider-thumb {
            -webkit-appearance: none;
            height: 0.5rem;
            width: 0.5rem;
            background: #148ad2;
            border-radius: 50%;
            border: solid 0.125rem #148ad2;
            box-shadow: 0 .125em .125em #148ad2; }
        html body section ul li:nth-of-type(5) {
          height: 2.16rem;
          width: 100%;
          background: #ffffff;
          margin-top: 0.1rem; }
          html body section ul li:nth-of-type(5) span {
            font-size: 0.6rem;
            color: #323232;
            margin-left: 1.52rem;
            line-height: 2.16rem; }
        html body section ul li:nth-of-type(6) {
          height: 2.16rem;
          width: 100%;
          background: #ffffff;
          margin-top: 0.1rem; }
          html body section ul li:nth-of-type(6) span {
            font-size: 0.6rem;
            color: #323232;
            margin-left: 1.52rem;
            line-height: 2.16rem; }
          html body section ul li:nth-of-type(6) div {
            width: 1.52rem;
            height: 0.76rem;
            float: right;
            margin-top: 0.68rem;
            margin-right: 0.48rem;
            font-size: 0.6rem; }
        html body section ul li:nth-of-type(7) {
          height: 2.16rem;
          width: 100%;
          background: #ffffff;
          margin-top: 0.1rem; }
          html body section ul li:nth-of-type(7) span {
            font-size: 0.6rem;
            color: #323232;
            margin-left: 1.52rem;
            line-height: 2.16rem; }
          html body section ul li:nth-of-type(7) div {
            width: 1.2rem;
            height: 0.76rem;
            float: right;
            margin-top: 0.68rem;
            margin-right: 0rem;
            font-size: 0.6rem; }
        html body section ul .btn1 {
          width: 10rem;
          height: 1.6rem;
          background: #148ad2;
          margin-top: 2.32rem;
          color: #fffeff;
          margin-left: 2.9rem;
          text-align: center;
          line-height: 1.6rem;
          font-size: 0.6rem;
          border-radius: 0.4rem; }

/*# sourceMappingURL=work2.css.map */
